.header
  .container
    .inner_header
      a(href="./index.html")
        .logotype
          h2 JavaScript
      ul.menu
        li.menu_link
          a(href="./home_works.html") Home Works
        li.menu_link
          a(href="./lessons.html") Lessons
        li.menu_link
          a(href="https://t.me/baked_toastt", target="_blank") Send message
      button#btn-get.btn Click me!
