.modal
  .modal_dialog
    .modal_content
      form(action="#")
        .modal_close ✖
        .modal_title Мы свяжемся с вами как можно быстрее!
        label
          input.modal_input(required, placeholder="Ваше имя", name="name", type="text")
        label
          input.modal_input(required, placeholder="Ваш номер телефона", name="phone", type="text")
        button.btn.btn_dark.btn_min Перезвонить мне