-
  var sliderData = {
    "slider": [
          {
            "title": "regular expression",
            "desc": "Простыми словами, регулярное выражение - это набор символов, который задает определенные правила для поиска и сопоставления текста. Вы можете использовать регулярные выражения, чтобы найти определенные строки в тексте, заменить части строки на другие значения или извлечь нужную информацию из текста.",
            "link": "https://developer.mozilla.org/ru/docs/Web/JavaScript/Guide/Regular_expressions",
            "active": true
          },
          {
            "title": "recursion",
            "desc": "Простыми словами, рекурсия - это, когда функция делает повторяющиеся вызовы самой себя для решения задачи, пока не достигнет определенного условия выхода из рекурсии.",
            "link": "https://learn.javascript.ru/recursion"
          },
          {
            "title": "json",
            "desc": "Простыми словами, JSON - это способ представления данных в виде текста, чтобы они могли быть легко поняты и использованы различными программами. Он использует простые правила для описания объектов и массивов, а также для представления простых типов данных, таких как строки, числа, логические значения и т.д.",
            "link": "https://developer.mozilla.org/ru/docs/Learn_web_development/Core/Scripting/JSON"
          },
          {
            "title": "event loop",
            "desc": "Простыми словами, event loop похож на дежурного, который непрерывно проверяет, произошло ли какое-либо событие, и реагирует на него, когда оно происходит. Он имеет список задач, которые нужно выполнить, и он перебирает этот список событий одно за другим, обрабатывая каждое событие, когда оно наступает.",
            "link": "https://highload.today/kak-ustroen-event-loop-v-javascript-parallelnaya-model-i-tsikl-sobytij/"
          }
        ]
  }