-
  var tabsData = {
    "tabs": [
          {
            "title": "Делегирование событий",
            "desc": "В JavaScript делегирование событий - это когда мы используем один обработчик событий для группы элементов, вместо того чтобы назначать отдельный обработчик каждому элементу. Когда происходит событие на одном из элементов, оно перехватывается общим обработчиком, который определяет, какой элемент вызвал событие, и выполняет соответствующие действия.",
            'dataAttrKey': "tab1"
          },
          {
            "title": "classList",
            "desc": "classList в JavaScript - это свойство, которое позволяет нам работать с классами элемента HTML. С помощью classList мы можем добавлять, удалять или проверять наличие классов у элемента. Допустим, у нас есть элемент на веб-странице, и мы хотим изменить его классы с помощью JavaScript. Вместо того чтобы обращаться напрямую к атрибуту class, мы можем использовать свойство classList этого элемента.",
            'dataAttrKey': "tab2"
          },
          {
            "title": "add()",
            "desc": `Метод add позволяет добавить новый класс к списку классов элемента. Например, element.classList.add('new-class') добавит класс с именем "new-class" к элементу.`,
            'dataAttrKey': "tab3"
          },
          {
            "title": "remove()",
            "desc": `Метод remove позволяет удалить класс из списка классов элемента. Например, element.classList.remove('old-class') удалит класс с именем "old-class" из элемента.`,
            'dataAttrKey': "tab4"
          },
          {
            "title": "contains()",
            "desc": `Метод contains позволяет проверить, содержит ли элемент определенный класс. Он возвращает true, если класс присутствует, и false, если его нет. Например, element.classList.contains('highlight') вернет true, если у элемента есть класс "highlight".`,
            'dataAttrKey': "tab5"
          },
        ]
  }