.gmail_block {
  background: black;
  padding: 100px 0;
}

.inner_gmail_block {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid orange;
  height: 300px;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form_gmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form_gmail button {
  width: 100%;
  margin: 20px 0;
}

/* MOVE BLOCK */
.move_block {
  background: black;
  padding: 100px 0;
}

.inner_parent_block {
  height: 400px;
  width: 400px;
  border: 1px solid orange;
  border-radius: 18px;
}

.parent_block {
  height: 500px;
  width: 500px;
  border: 1px solid orange;
  position: relative;
  margin: 0 auto;
}

.child_block {
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: red;
}

.inner_move_block {
  margin-top: 50px;
}

/*----ANALOG CLOCK-----*/
.clock {
  --clock-size: 360px;
  width: var(--clock-size);
  height: var(--clock-size);
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  color: white;
}

.spike {
  position: absolute;
  width: 8px;
  height: 1px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 20px;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  z-index: 5;
  inset: 0;
  margin: auto;
  font-style: normal;
  -webkit-transform: rotate(var(--rotate)) translateX(var(--dail-size));
          transform: rotate(var(--rotate)) translateX(var(--dail-size));
}
.spike:nth-child(5n+1) {
  -webkit-box-shadow: -7px 0 rgba(255, 255, 255, 0.6);
          box-shadow: -7px 0 rgba(255, 255, 255, 0.6);
}
.spike:nth-child(5n+1):after {
  content: attr(data-i);
  position: absolute;
  right: 22px;
  top: -10px;
  -webkit-transition: 1s linear;
  transition: 1s linear;
  -webkit-transform: rotate(calc(var(--dRotate) - var(--rotate)));
          transform: rotate(calc(var(--dRotate) - var(--rotate)));
}

.seconds {
  --dRotate: 0deg;
  --dail-size: calc((var(--clock-size)/ 2) - 8px);
  font-weight: 800;
  font-size: 18px;
  -webkit-transform: rotate(calc(-1 * var(--dRotate)));
          transform: rotate(calc(-1 * var(--dRotate)));
  position: absolute;
  inset: 0;
  margin: auto;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.minutes {
  --dail-size: calc((var(--clock-size)/ 2) - 65px);
  font-size: 16px;
  -webkit-transform: rotate(calc(-1 * var(--dRotate)));
          transform: rotate(calc(-1 * var(--dRotate)));
  position: absolute;
  inset: 0;
  margin: auto;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.stop-anim {
  -webkit-transition: 0s linear;
  transition: 0s linear;
}
.stop-anim .spike:after {
  -webkit-transition: 0s linear !important;
  transition: 0s linear !important;
}

.hour {
  font-size: 70px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.minute {
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  background: #000;
  z-index: 10;
  right: calc(var(--clock-size) / 4.5);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.minute:after {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-right: none;
  height: 50px;
  left: -10px;
  top: 50%;
  border-radius: 40px 0 0 40px;
  width: calc(var(--clock-size) / 2.75);
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
}

/*-------STOP WATCH------ */
.time {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 80px;
  height: 100px;
  width: 100%;
  border-bottom: 1px solid orange;
  margin-top: 40px;
}
.time_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stopwatch {
  padding: 100px 0;
  background: black;
}

.time_buttons {
  margin-top: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*--------CHARACTERS---------*/
.characters {
  background: black;
}
.characters-list {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
}

.character-card {
  border: 2px solid orange;
  padding: 10px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: center;
}

.character-photo {
  width: 100%;
  height: 250px;
  border: 2px solid orange;
  margin: 0 auto;
}
.character-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}