* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Britannic Bold", sans-serif;
  background: #c2d0d0;
}

.btn {
  width: 250px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid orange;
  background: black;
  color: orange;
  border-radius: 8px;
}
.btn:hover {
  background: #414349;
}
.btn:active {
  background: #56585D;
  border: 2px solid orange;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

h3 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

strong {
  color: #F79300;
}

label {
  font-size: 24px;
  color: orange;
}

.form_gmail {
  width: 350px;
}
.form_gmail .input {
  width: 100%;
}
.form_gmail .input input {
  width: 100%;
}

.input {
  position: relative;
}
.input.error .checker {
  color: red;
}
.input.error input {
  border-color: red;
}
.input.success .checker {
  color: green;
}
.input.success input {
  border-color: green;
}

input {
  height: 50px;
  font-size: 20px;
  padding-left: 5px;
  color: orange;
  background: black;
  border: 2px solid orange;
}

.checker {
  color: white;
  font-size: 11px;
  display: block;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 5px;
}

.btn-slide {
  display: block;
  width: 100px;
  height: 100px;
  background: orange;
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 50%;
  font-weight: 800;
  z-index: 1;
}
.btn-slide:hover {
  background: #b68733 !important;
  cursor: pointer;
  color: white;
}

.header {
  height: 80px;
  background: #2c2d2f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.inner_header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background: #2c2d2f;
  width: 100%;
}
.footer h2 {
  text-transform: uppercase;
  color: orange;
  font-weight: 600;
}
.footer .inner_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
}

.modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal_dialog {
  max-width: 500px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.modal.open {
  opacity: 1;
  pointer-events: inherit;
}
.modal.open .modal_dialog {
  -webkit-transform: none;
          transform: none;
}
.modal_content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: black;
  border: 2px solid orange;
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}
.modal_content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal_close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: red;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal_title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}
.modal_content label, .modal .btn_min {
  width: 100% !important;
  margin-top: 10px;
}
.modal_content input {
  width: 100%;
}

/* LOGOTYPE */
.logotype {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 22px;
  height: 60px;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  background: orange;
  padding: 8px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* HEADER MENU */
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 600px;
}
.menu_link a {
  color: orange;
  text-transform: uppercase;
}
.menu_link a:hover {
  text-decoration: underline;
}

/* MAIN BLOCK */
.main_block {
  padding: 100px 0;
  background: black;
}

/* BUTTONS COLOR PICKER */
.colors-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.btn-color {
  border-radius: 20px;
  border-color: white !important;
}

/* SLIDER BLOCK */
.slider_block {
  padding: 100px 0;
  background: black;
}

.slider {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border: 3px solid orange;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.slide {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.slide_card {
  color: white;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
.slide h3 {
  color: white;
  text-transform: uppercase;
  font-size: 22px;
}
.slide p {
  font-size: 16px;
  text-align: justify;
  margin: 10px 0;
}
.slide a {
  color: orange;
  text-decoration: underline;
}
.slide.active_slide {
  display: block;
}

/* VIDEO BLOCK */
.block_video {
  background: black;
  padding: 100px 0;
}

.inner_block_video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

/* MODAL */
/*-------BOTTLE-------*/
.bottle {
  background: black;
  padding: 100px 0;
}
.bottle_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bowl {
  position: relative;
  width: 300px;
  height: 300px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 8px solid transparent;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
@-webkit-keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
@keyframes animate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
.bowl::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40%;
  height: 30px;
  border: 15px solid #444;
  border-radius: 50%;
  -webkit-box-shadow: 0 10px #222;
          box-shadow: 0 10px #222;
}

.bowl::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-animation: animatebowlshadow 5s linear infinite;
          animation: animatebowlshadow 5s linear infinite;
  border-radius: 50%;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes animatebowlshadow {
  0% {
    left: 50%;
    width: 150px;
    height: 60px;
  }
  25% {
    left: 55%;
    width: 140px;
    height: 65px;
  }
  50% {
    left: 50%;
    width: 150px;
    height: 60px;
  }
  75% {
    left: 45%;
    width: 140px;
    height: 65px;
  }
}
@keyframes animatebowlshadow {
  0% {
    left: 50%;
    width: 150px;
    height: 60px;
  }
  25% {
    left: 55%;
    width: 140px;
    height: 65px;
  }
  50% {
    left: 50%;
    width: 150px;
    height: 60px;
  }
  75% {
    left: 45%;
    width: 140px;
    height: 65px;
  }
}
.liquid {
  position: absolute;
  top: 50%;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: #1ae907;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  -webkit-filter: drop-shadow(0 0 80px #1ae907);
          filter: drop-shadow(0 0 80px #1ae907);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-animation: animateliquid 5s linear infinite;
          animation: animateliquid 5s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes animateliquid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  30% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  80% {
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes animateliquid {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-22deg);
            transform: rotate(-22deg);
  }
  30% {
    -webkit-transform: rotate(-23deg);
            transform: rotate(-23deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(22deg);
            transform: rotate(22deg);
  }
  80% {
    -webkit-transform: rotate(23deg);
            transform: rotate(23deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
.liquid::before {
  content: "";
  position: absolute;
  top: -10px;
  width: 100%;
  height: 20px;
  background: #15be05;
  border-radius: 50%;
  -webkit-filter: drop-shadow(0 0 80px #15be05);
          filter: drop-shadow(0 0 80px #15be05);
}

.shadow {
  position: absolute;
  top: calc(50% + 150px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 260px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  -webkit-animation: animateshadow 5s linear infinite;
          animation: animateshadow 5s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
@-webkit-keyframes animateshadow {
  0% {
    left: 50%;
    width: 260px;
    height: 40px;
    top: calc(50% + 150px);
  }
  25% {
    left: 55%;
    width: 265px;
    height: 30px;
    top: calc(50% + 130px);
  }
  50% {
    left: 50%;
    width: 260px;
    height: 40px;
    top: calc(50% + 150px);
  }
  75% {
    left: 45%;
    width: 265px;
    height: 30px;
    top: calc(50% + 130px);
  }
}
@keyframes animateshadow {
  0% {
    left: 50%;
    width: 260px;
    height: 40px;
    top: calc(50% + 150px);
  }
  25% {
    left: 55%;
    width: 265px;
    height: 30px;
    top: calc(50% + 130px);
  }
  50% {
    left: 50%;
    width: 260px;
    height: 40px;
    top: calc(50% + 150px);
  }
  75% {
    left: 45%;
    width: 265px;
    height: 30px;
    top: calc(50% + 130px);
  }
}