extends layouts/default
block title 
  | lessons
block page
  - var page = 'lessons'

block content
  .phone_block
    .container
      h3 Phone checker
      .inner_phone_block
        .form_phone
          label(for="phone_input") Phone Number
          input#phone_input(type="text" placeholder="+996 XXX XX-XX-XX")
          button.btn#phone_button Check number
          span.checker#phone_result

  .tab_slider
    .container
      h3 tab slider
      .inner_tab_slider
        .tab_contents_block
          include ./includes/tabs-json

          each item in tabsData.tabs
            .tab_content_block(data-name=item.dataAttrKey)
              h4=item.title
              p=item.desc
              
          
        .tab_content_items
          
          each item in tabsData.tabs
            button.tab_content_item(data-name=item.dataAttrKey)=item.title 
           
  
  .converter#converter
    .container
      h3 CONVERTER
      .inner_converter
        .som
          label(for="som") Som
          input#som(type="number")
        .usd
          label(for="usd") Usd
          input#usd(type="number")
        .eur
          label(for="eur") Eur
          input#eur(type="number")
  
  .card_switcher#card_switcher
    .container
      h3 Card Switcher
      .inner_card_switcher
        button#btn-prev.btn prev
        .card
        button#btn-next.btn next
  
  .weather
      .container
        h3 WEATHER
        .inner_weather
          div
            label
              input.cityName(type="text", placeholder="Найти погоду в...")
            button#search.btn search
          div
            span.city
            hr
            span.temp